<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KeeShare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KeeShare.Properties.Settings>
            <setting name="UserGroupName" serializeAs="String">
                <value>Users</value>
            </setting>
            <setting name="GroupGroupName" serializeAs="String">
                <value>UserGroups</value>
            </setting>
            <setting name="UsersGroupTag" serializeAs="String">
                <value>_KeeShareUsersGroup_</value>
            </setting>
            <setting name="StringFieldUidLink" serializeAs="String">
                <value>KeeShareUuidLink</value>
            </setting>
            <setting name="SourcesGroupName" serializeAs="String">
                <value>SyncSources</value>
            </setting>
            <setting name="StringFieldSrcPath" serializeAs="String">
                <value>KeeShareSrcPath</value>
            </setting>
            <setting name="StringFieldLastExport" serializeAs="String">
                <value>KeeShareLastExport</value>
            </setting>
            <setting name="StringFieldDeltaIdentifier" serializeAs="String">
                <value>KeeShareDeltaIdString</value>
            </setting>
            <setting name="DeltaIdentifier" serializeAs="String">
                <value>-=] ThisIsA_KeeShare_DeltaContainer [=-</value>
            </setting>
            <setting name="GroupsGroupTag" serializeAs="String">
                <value>_KeeShareGroupsGroup_</value>
            </setting>
            <setting name="SyncFolderTag" serializeAs="String">
                <value>_KeeShareSyncGroup_</value>
            </setting>
            <setting name="SyncFolderName" serializeAs="String">
                <value>KeeShare Sync</value>
            </setting>
            <setting name="ExportGroupName" serializeAs="String">
                <value>Export-Targets</value>
            </setting>
            <setting name="ExportGroupTag" serializeAs="String">
                <value>_KeeShareExportGroup_</value>
            </setting>
            <setting name="ImportGroupName" serializeAs="String">
                <value>Import-Sources</value>
            </setting>
            <setting name="ImportGroupTag" serializeAs="String">
                <value>_KeeShareImportGroup_</value>
            </setting>
            <setting name="StringFieldKeeShareActiveIdentifier" serializeAs="String">
                <value>KeeShareActiveIdString</value>
            </setting>
            <setting name="KeeShareActivisionTag" serializeAs="String">
                <value>-=] ThisIsA_KeeShare_activated_Container [=-</value>
            </setting>
        </KeeShare.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
